pytest
playwright
fastapi
uvicorn[standard]
python-multipart
sqlmodel
pydantic
python-jose[cryptography]
passlib[bcrypt]
celery[redis]
pytest-html
aiofiles
redis
requests==2.31.0

# Google API (required for utils/email_utils.py)
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
