name: Run Automation Test

on:
  repository_dispatch:
    types: [run-job]

jobs:
  run-selected-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4   # updated

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install ubuntu dependencies for Playwright
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libatk1.0-0 libatk-bridge2.0-0 libcups2 libxkbcommon0 \
            libxcomposite1 libxdamage1 libxrandr2 libgbm-dev libasound2 \
            libpangocairo-1.0-0 libpango-1.0-0 libcairo2 libnss3 libxss1 \
            fonts-liberation libappindicator3-1 libx11-xcb1 libxtst6 xvfb
            
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          playwright install --with-deps

      - name: Debug received values
        run: |
          echo "Job ID: ${{ github.event.client_payload.job_id }}"
          echo "Pytest target: ${{ github.event.client_payload.pytest_target }}"

      - name: Run the selected test
        run: |
          pytest ${{ github.event.client_payload.pytest_target }} \
            --html=report.html \
            --self-contained-html

      - name: Upload Test Report
        uses: actions/upload-artifact@v4   # UPDATED
        with:
          name: report
          path: report.html
